<h2>To be populated with fitbit data</h2>


<h3>Days since leaving the shire: <%= @distance["activities-tracker-distance"].count %> </h3>

<table>
	<thead>
		<th>Day</th>
		<th>Distance Travelled</th>
	</thead>
		<% @distance["activities-tracker-distance"].each do |p| %>
	<tr>
		<td> <%= p["dateTime"] %> </td>
		<td> <%= p["value"].to_f.round(2)%> </td>
	</tr>
		<% end %>
</table>