
<h3 class='aniron'>Days since leaving the shire: <%= @distance["activities-tracker-distance"].count %> </h3>

<% @sum = 0 %>
<% @distance["activities-tracker-distance"].each do |p| %>
<% @sum += p["value"].to_f %>
<% end %>
<h3 class='aniron'>Total Distance Travelled: <%= @sum.round(2) %>  </h3>


<table class="gondor title_text">
	<thead>
		<th>Day</th>
		<th>Distance Travelled</th>
	</thead>
		<% @distance["activities-tracker-distance"].each do |p| %>
	<tr>
		<td> <%= p["dateTime"] %> </td>
		<td> <%= p["value"].to_f.round(2)%> </td>
	</tr>
		<% end %>
</table>

<p class='aniron'>Last checkpoint: </p><a class='aniron' href="/lands/rivendell">Rivendell</a>