<!DOCTYPE html>
<html>
<head>
  <title>FantasyWalks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id = "navigation">
	<ul>
		<li>
			<a href="/users/login">login</a> |
		</li>
		<li>
			<a href="/dashboards/index">Map</a> |
		</li>
		<li>
			<a href="/register">register</a> |
		</li>
		<li class="pull-right">
			<a href="/sessions/destroy">logout</a>
		</li>
	</ul>
	<!-- <ul class="pull-right">
		
	</ul> -->
</nav>
<%= yield %>

</body>
</html>
