<!DOCTYPE html>
<html>
<head>
  <title>FantasyWalks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id = "navigation">
	<ul>
		<li>
			<a href="/">login</a>
		</li>
		<li>
			<a href="/lands/rivendell">Rivendell</a>
		</li>
	</ul>
</nav>
<%= yield %>

</body>
</html>
